.emotion__title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;    
}

.emotion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.emotion__textarea {
    font-size: 18px;
    font-weight: 700;
    color: $black;
    border: none;
    background-color: $grey;
}

@media (min-width: $tablet-width) {
    .emotion {
        width: 648px;
    }

    .emotion__title {
        font-size: 21px;
    }

    .emotion__textarea {
        width: 648px;
        height: 160px;
    }
}

@media (min-width: $desktop-width) {
    .emotion {
        width: 960px;
    }

    .emotion__textarea {
        width: 960px;
        height: 160px;
    }
}