.form-description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-description__title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.form-description__intro {
    width: 276px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;    
}

.form-filters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-width: $mobile-width;
}

.form-filters__block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    min-width: $mobile-width;
}

.info__title,
.contacts__title,
.impression__title,
.sights__title,
.emotion__title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;    
}

.info__item {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    margin-left: 20px; 
    margin-right: 20px; 
}

.info__label,
.contacts__label {
    color: #333333;
    text-transform: uppercase;    
}

.info__input[placeholder],
.contacts__input[placeholder] {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.contacts__item {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; 
    margin-left: 20px; 
    margin-right: 20px; 
}

.impression__list,
.sights__list {
    list-style: none;
    padding-left: 25px;
}

.impression__label,
.sights__label {
    font-size: 18px;
    font-weight: 700;
}

.emotion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.emotion__textarea {
    font-size: 18px;
    font-weight: 700;
    color: $black;
    border: none;
    background-color: $grey;
}

.form_filters__button {
    border: none;
    font-size: 21px;
    font-weight: 700;
    color: $white;
}