.form-description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-description__title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.form-description__intro {
    width: 276px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;    
}

.form-filters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-width: $mobile-width;
}

.form-filters__block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    min-width: $mobile-width;
}

.form_filters__button {
    border: none;
    font-size: 21px;
    font-weight: 700;
    color: $white;
}

@media (min-width: $tablet-width) {
    .form-filters {
        flex-direction: row;
        width: 648px;
    }

    .impression {
        order: -1;
    }

    .form-description__title {
        font-size: 30px;
    }

    .form-description__intro {
        width: 439px;
    }
    
    .form_filters__button {
        width: 324px;
        height: 58px;
    }
}

@media (min-width: $desktop-width) {
    .form-filters {
        width: 960px;
    }

    .form_filters__button {
        width: 480px;
        height: 58px;   
    }
}