.hotel-search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    margin: 0 auto;
}

.hotel-search__title {
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;    
}

.hotel-search__intro {
    width: 261px;
    text-transform: uppercase;
    text-align: center;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 280px;
    min-height: 58px;
    background-color: $blue;
    text-align: center;
}

.hotel-search__button-search {
    font-size: 21px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
}

@media (min-width: $tablet-width) {
    .hotel-search {
        width: 768px;
    }

    .hotel-search__title {
        font-size: 30px;
    }

    .hotel-search__intro {
        width: 434px;
    }

    .button {
        width: 458px;
    }
}