.impression__title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;    
}

.impression__list {
    list-style: none;
    padding-left: 25px;
}

.impression__label {
    font-size: 18px;
    font-weight: 700;
}