.impression__title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;    
}

.impression__list {
    list-style: none;
    padding-left: 25px;
}

.impression__label {
    font-size: 18px;
    font-weight: 700;
}

@media (min-width: $tablet-width) {
    .impression {
        width: 273px;
    }

    .impression__title {
        font-size: 21px;
    }
}

@media (min-width: $desktop-width) {
    .impression {
        width: 400px;
    }
}