.media {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    margin: 0 auto;
}

.media__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.media__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;    
}

.media__title {
    text-align: left;
    text-transform: uppercase;
}

.media-author {
    color: #333333;
}

.media__like-qty {
    font-weight: 700;
}

@media (min-width: $tablet-width) {
    .media {
        width: 768px;
        margin: 0 auto;
        padding: 0;
    }
    
    .media__list {
        flex-direction: row;
        width: 648px;
    }
    
    .media__image-info--main-tablet {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 648px;
        min-height: 80px;
        background-color: #f2f2f2;
    }

    .media__image-info--add-tablet {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 324px;
        min-height: 80px;
        background-color: #f2f2f2;
    }
    
    .media__image--tablet-main {
        width: 648px;
        height: 400px;
    }

    .media__image--tablet-add {
        width: 324px;
        height: 267px;
    }
}

@media (min-width: $desktop-width) {
    .media {
        width: 1200px;
        margin: 0 auto;
        padding: 0;
    }
    
    .media__list {
        width: 1200px;
    }

    .media__item {
        position: relative;
    }

    .media__image-info--main-desktop {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        z-index: 2;
        width: 1200px;
        min-height: 80px;
        background-color: transparentize($color: #000000, $amount: 0.3);
        color: #ffffff;
    }

    .media__image-info--add-desktop {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        z-index: 2;
        width: 400px;
        min-height: 80px;
        background-color: transparentize($color: #000000, $amount: 0.3);
        color: #ffffff;
    }

    .media__image--desktop-main {
        width: 1200px;
        height: 400px;
    }

    .media__image--tablet-add {
        width: 400px;
        height: 267px;
    }
}