.page-background,
.photo-background,
.form-background {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 389px;
    background-image: url("../img/back-mobile-jpg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

@media (min-width: $tablet-width) {
    .page-background {
        background-image: url("../img/bg-back-tablet@1x.jpg");
    }
}

@media (min-width: $desktop-width) {
    .page-background {
        background-image: url("../img/bg-back-desktop@1x.jpg");
    }
}